// variables
@import "variables.scss";

// fonts
// 700
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

// 400
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.contactPage h2, .contactPage h5 {
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
    color: $Very-dark-blue;
}

.contactPage p, .contactPage span, .contactPage span a {
    color: $Dark-grayish-blue;
    font-weight: 500;
    font-family: 'Kumbh Sans', sans-serif;
}